* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    overflow-x: hidden;
    background-image: url(/_resources/cook.jpg);
    background-size: cover;
}

a {
    text-decoration: none;
    color: inherit;
}

input {
    font-size: inherit;
}

