.nav-main ul {
    display: flex;
    color: grey;
}

.nav-main a{
    color: black;
}

.nav-main a:hover {
    text-decoration: underline;
}

.nav-main .separator {
    color: #ccc;
}

.nav-main span {
    margin: 0 .5em;
}

.nav-main li:last-child span {
    display:none;
}

.nav-main .current-menu-item a {
    color: #ccc;
    pointer-events: none;
}