.nav-main ul {
    display: flex;
    color: grey;
}

.nav-main li {
    margin-right: .5em;
}

.nav-main a{
    color: black;
}

.nav-main a:hover {
    text-decoration: underline;
}

.nav-main .separator {
    color: #ccc;
}